@import 'tailwindcss';
@import 'pretendard/dist/web/variable/pretendardvariable-dynamic-subset.css';
@custom-variant dark (&:where(.dark, .dark *));
@import './typeset.css';
@import './highlight.css';

@layer base {
  body {
    font-family: 'Pretendard Variable', sans-serif;
  }
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-track:active {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #b8b8b8;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #b8b8b8;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #b8b8b8;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
